<?xml version="1.0" encoding="utf-8"?>
<Root>
  <!--财付通商户号-->
  <bargainor_id>1900000113</bargainor_id>
  <!--财付通密钥-->
  <tenpay_key>e82573dc7e6136ba414f2e2affbe39fa</tenpay_key>
  <!--显示支付通知页面-->
  <tenpay_return>/api/payment/tenpay/return_url.aspx</tenpay_return>
  <!--支付完成后的回调处理页面-->
  <tenpay_notify>/api/payment/tenpay/notify_url.aspx</tenpay_notify>
</Root>