<?xml version="1.0" encoding="utf-8"?>
<urls>
  <rewrite name="index" path="index.aspx" pattern="index.aspx" page="index.aspx" templet="index.html" channel="0" type="index" inherit="DTcms.Web.UI.Page.index" />
  <rewrite name="search" path="search.aspx" pattern="search.aspx" page="search.aspx" templet="search.html" channel="0" type="no" inherit="DTcms.Web.UI.Page.search" />
  <rewrite name="error" path="error.aspx" pattern="error.aspx" page="error.aspx" templet="error.html" channel="0" type="no" inherit="DTcms.Web.UI.Page.error" />
  <rewrite name="login" path="login.aspx" pattern="login.aspx" page="login.aspx" templet="login.html" channel="0" inherit="DTcms.Web.UI.Page.login" />
  <rewrite name="oauth_login" path="oauth_login.aspx" pattern="oauth_login.aspx" page="oauth_login.aspx" templet="oauth_login.html" channel="0" inherit="DTcms.Web.UI.Page.oauth_login" />
  <rewrite name="register" path="register.aspx" pattern="register.aspx" page="register.aspx" templet="register.html" channel="0" type="no" inherit="DTcms.Web.UI.Page.register" />
  <rewrite name="usercenter" path="user/center/{0}.aspx" pattern="user/center/(\w+).aspx" page="usercenter.aspx" querystring="action=$1" templet="usercenter.html" channel="0" inherit="DTcms.Web.UI.Page.usercenter" />
  <rewrite name="usermessage" path="user/message/{0}.aspx" pattern="user/message/(\w+).aspx" page="usermessage.aspx" querystring="action=$1" templet="usermessage.html" channel="0" inherit="DTcms.Web.UI.Page.usermessage" />
  <rewrite name="usermessage1" path="user/message/{0}/{1}.aspx" pattern="user/message/(\w+)/(\d+).aspx" page="usermessage.aspx" querystring="action=$1^page=$2" templet="usermessage.html" channel="0" inherit="DTcms.Web.UI.Page.usermessage" />
  <rewrite name="usermessage_show" path="user/message/show-{0}.aspx" pattern="user/message/show-(\d+).aspx" page="usermessage_show.aspx" querystring="id=$1" templet="usermessage_show.html" channel="0" inherit="DTcms.Web.UI.Page.usermessage_show" />
  <rewrite name="userpoint" path="user/point/{0}.aspx" pattern="user/point/(\w+).aspx" page="userpoint.aspx" querystring="action=$1" templet="userpoint.html" channel="0" inherit="DTcms.Web.UI.Page.userpoint" />
  <rewrite name="userpoint1" path="user/point/{0}-{1}.aspx" pattern="user/point/(\w+)/(\d+).aspx" page="userpoint.aspx" querystring="action=$1^page=$2" templet="userpoint.html" channel="0" inherit="DTcms.Web.UI.Page.userpoint" />
  <rewrite name="useramount" path="user/amount/{0}.aspx" pattern="user/amount/(\w+).aspx" page="useramount.aspx" querystring="action=$1" templet="useramount.html" channel="0" inherit="DTcms.Web.UI.Page.useramount" />
  <rewrite name="useramount1" path="user/amount/{0}-{1}.aspx" pattern="user/amount/(\w+)/(\d+).aspx" page="useramount.aspx" querystring="action=$1^page=$2" templet="useramount.html" channel="0" inherit="DTcms.Web.UI.Page.useramount" />
  <rewrite name="userorder" path="user/order-{0}.aspx" pattern="user/order-(\w+).aspx" page="userorder.aspx" querystring="action=$1" templet="userorder.html" channel="0" inherit="DTcms.Web.UI.Page.userorder" />
  <rewrite name="userorder1" path="user/order-{0}-{1}.aspx" pattern="user/order-(\w+)-(\d+).aspx" page="userorder.aspx" querystring="action=$1^page=$2" templet="userorder.html" channel="0" inherit="DTcms.Web.UI.Page.userorder" />
  <rewrite name="userorder_show" path="user/order/show-{0}.aspx" pattern="user/order/show-(\d+).aspx" page="userorder_show.aspx" querystring="id=$1" templet="userorder_show.html" channel="0" inherit="DTcms.Web.UI.Page.userorder_show" />
  <rewrite name="repassword" path="repassword/{0}.aspx" pattern="repassword/(\w+).aspx" page="repassword.aspx" querystring="action=$1" templet="repassword.html" channel="0" inherit="DTcms.Web.UI.Page.repassword" />
  <rewrite name="repassword1" path="repassword/{0}---{1}.aspx" pattern="repassword/(\w+)---(\w+).aspx" page="repassword.aspx" querystring="action=$1^code=$2" templet="repassword.html" channel="0" inherit="DTcms.Web.UI.Page.repassword" />
  <rewrite name="payment" path="payment/{0}.aspx" pattern="payment/(\w+).aspx" page="payment.aspx" querystring="action=$1" templet="payment.html" channel="0" inherit="DTcms.Web.UI.Page.payment" />
  <rewrite name="payment1" path="payment/{0}/{1}/{2}.aspx" pattern="payment/(\w+)/(\w+)/(\w+).aspx" page="payment.aspx" querystring="action=$1^order_type=$2^order_no=$3" templet="payment.html" channel="0" inherit="DTcms.Web.UI.Page.payment" />
  <rewrite name="shopping" path="shopping/{0}.aspx" pattern="shopping/(\w+).aspx" page="shopping.aspx" querystring="action=$1" templet="shopping.html" channel="0" inherit="DTcms.Web.UI.Page.shopping" />
  <rewrite name="down" path="down.aspx" pattern="down.aspx" page="down.aspx" templet="down.html" channel="4" type="index" inherit="DTcms.Web.UI.Page.download" />
  <rewrite name="down_list" path="down/{0}.aspx" pattern="down/(\d+).aspx" page="down_list.aspx" querystring="category_id=$1" templet="down_list.html" channel="4" type="list" inherit="DTcms.Web.UI.Page.download_list" />
  <rewrite name="down_list1" path="down/{0}/{1}.aspx" pattern="down/(\d+)/(\w+).aspx" page="down_list.aspx" querystring="category_id=$1^page=$2" templet="down_list.html" channel="4" type="list" inherit="DTcms.Web.UI.Page.download_list" />
  <rewrite name="down_show" path="down/show/{0}.aspx" pattern="down/show/(\d+).aspx" page="down_show.aspx" querystring="id=$1" templet="down_show.html" channel="4" type="detail" inherit="DTcms.Web.UI.Page.download_show" />
  <rewrite name="content" path="content/{0}.aspx" pattern="content/(\w+).aspx" page="content_show.aspx" querystring="page=$1" templet="content.html" channel="5" type="detail" inherit="DTcms.Web.UI.Page.content_show" />
  <rewrite name="content1" path="content/show/{0}.aspx" pattern="content/show/(\d+).aspx" page="content_show.aspx" querystring="id=$1" templet="content.html" channel="5" type="detail" inherit="DTcms.Web.UI.Page.content_show" />
  <rewrite name="news" path="news.aspx" pattern="news.aspx" page="news.aspx" templet="news.html" channel="1" type="index" inherit="DTcms.Web.UI.Page.news" />
  <rewrite name="news_list" path="news/{0}.aspx" pattern="news/(\d+).aspx" page="news_list.aspx" querystring="category_id=$1" templet="news_list.html" channel="1" type="list" inherit="DTcms.Web.UI.Page.news_list" />
  <rewrite name="news_list1" path="news/{0}/{1}.aspx" pattern="news/(\d+)/(\w+).aspx" page="news_list.aspx" querystring="category_id=$1^page=$2" templet="news_list.html" channel="1" type="list" inherit="DTcms.Web.UI.Page.news_list" />
  <rewrite name="news_show" path="news/show-{0}.aspx" pattern="news/show-(\d+).aspx" page="news_show.aspx" querystring="id=$1" templet="news_show.html" channel="1" type="detail" inherit="DTcms.Web.UI.Page.news_show" />
  <rewrite name="goods" path="goods.aspx" pattern="goods.aspx" page="goods.aspx" templet="goods.html" channel="2" type="index" inherit="DTcms.Web.UI.Page.goods" />
  <rewrite name="goods_list" path="goods/{0}.aspx" pattern="goods/(\d+).aspx" page="goods_list.aspx" querystring="category_id=$1" templet="goods_list.html" channel="2" type="list" inherit="DTcms.Web.UI.Page.goods_list" />
  <rewrite name="goods_list1" path="goods/{0}/{1}.aspx" pattern="goods/(\d+)/(\w+).aspx" page="goods_list.aspx" querystring="category_id=$1^page=$2" templet="goods_list.html" channel="2" type="list" inherit="DTcms.Web.UI.Page.goods_list" />
  <rewrite name="goods_show" path="goods/show-{0}.aspx" pattern="goods/show-(\d+).aspx" page="goods_show.aspx" querystring="id=$1" templet="goods_show.html" channel="2" type="detail" inherit="DTcms.Web.UI.Page.goods_show" />
  <rewrite name="photo" path="photo.aspx" pattern="photo.aspx" page="photo.aspx" templet="photo.html" channel="3" type="index" inherit="DTcms.Web.UI.Page.news" />
  <rewrite name="photo_list" path="photo/{0}.aspx" pattern="photo/(\d+).aspx" page="photo_list.aspx" querystring="category_id=$1" templet="photo_list.html" channel="3" type="list" inherit="DTcms.Web.UI.Page.news_list" />
  <rewrite name="photo_list1" path="photo/{0}/{1}.aspx" pattern="photo/(\d+)/(\w+).aspx" page="photo_list.aspx" querystring="category_id=$1^page=$2" templet="photo_list.html" channel="3" type="list" inherit="DTcms.Web.UI.Page.news_list" />
  <rewrite name="photo_show" path="photo/show-{0}.aspx" pattern="photo/show-(\d+).aspx" page="photo_show.aspx" querystring="id=$1" templet="photo_show.html" channel="3" type="detail" inherit="DTcms.Web.UI.Page.news_show" />
  <rewrite name="feedback" path="feedback.aspx" pattern="feedback.aspx$" page="feedback.aspx" templet="feedback.html" channel="0" type="" inherit="DTcms.Web.Plugin.Feedback.feedback" />
  <rewrite name="feedback1" path="feedback/{0}.aspx" pattern="feedback/(\w+).aspx$" page="feedback.aspx" querystring="page=$1" templet="feedback.html" channel="0" type="" inherit="DTcms.Web.Plugin.Feedback.feedback" />
  <rewrite name="link" path="link.aspx" pattern="link.aspx$" page="link.aspx" querystring="" templet="link.html" channel="0" type="" inherit="DTcms.Web.Plugin.Link.link" />
</urls>