    <div class="sidebar">
      <h3>交易管理</h3>
      <ul>
        <li><a href="<%linkurl("userorder","list")%>">交易订单</a></li>
        <li><a href="<%linkurl("userorder","close")%>">已关闭订单</a></li>
      </ul>
      <h3>账户管理</h3>
      <ul>
        <li><a href="<%linkurl("useramount","recharge")%>">账户余额</a></li>
        <li><a href="<%linkurl("userpoint","convert")%>">我的积分</a></li>
        <li><a href="<%linkurl("usermessage","system")%>">站内短信</a></li>
        <li><a href="<%linkurl("usercenter","invite")%>">邀请码</a></li>
      </ul>
      <h3>基本资料</h3>
      <ul>
        <li><a href="<%linkurl("usercenter","proinfo")%>">个人资料</a></li>
        <li><a href="<%linkurl("usercenter","password")%>">修改密码</a></li>
        <li><a href="<%linkurl("usercenter","exit")%>">退出登录</a></li>
      </ul>
    </div>