<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>资源下载 - {config.webname}</title>
<link media="screen" type="text/css" href="{config.templateskin}/css/style.css" rel="stylesheet">
<script type="text/javascript" src="{config.webpath}scripts/jquery/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="{config.templateskin}/js/base.js"></script>
</head>

<body>
<!--Header-->
<%template src=/_header.html/%>
<!--/Header-->

<div class="boxwrap">
  <div class="left710">
   <!--Content-->
    <div class="main_box">
      <%set (DataTable){category_list}=get_category_child_list(channel_id, 0)%>
      <%loop cdr category_list%>
      <%if cdr__loop__id==1%>
      <dl class="head green">
      <%else%>
      <dl class="head blue">
      <%/if%>
        <dt>{cdr[title]}</dt>
        <dd>
          <span><a href="<%linkurl("down_list",{cdr[id]})%>" title="查看更多" class="arrow">&gt;</a></span>
        </dd>
      </dl>
      <div class="clear"></div>
      <ul class="down_list">
        <%set (DataTable){down_list}=get_download_list(channel_id, {strtoint({cdr[id]})}, 2, "is_red=1")%>
        <%loop listdr down_list%>
        <li>
          <a title="{listdr[title]}" href="<%linkurl("down_show",{listdr[id]})%>" class="pic"><img width="140" height="98" src="{listdr[img_url]}" alt="{listdr[title]}" /></a>
          <h2><a href="<%linkurl("down_show",{listdr[id]})%>" title="note">{listdr[title]}</a></h2>
          <div class="info">
            <span class="time">{listdr[add_time]}</span>
            <span class="view">{listdr[click]}次浏览</span>
          </div>
          <div class="note"><%cutstring({listdr[content]},255)%></div>
        </li>
        <%/loop%>
      </ul>
      <%/loop%>
    </div>
    <!--/Content-->
  </div>
  
  <div class="left264">
    <!--Sidebar-->
    <div class="sidebar">
      <h3>资源类别</h3>
      <ul>
        <%set (DataTable){category_list1}=get_category_list(channel_id, 0)%>
        <%loop cdr1 category_list1%>
        <li><a title="{cdr1[title]}" href="<%linkurl("down_list",{cdr1[id]})%>"><em class="arrow">&gt;</em>{cdr1[title]}</a></li>
        <%/loop%>
      </ul>
      <h3>推荐资源</h3>
      <div class="focus_list">
        <ul>
          <%set (DataTable){reddown}=get_download_list(channel_id, 0, 6, "is_red=1 and img_url<>''")%>
          <%loop reddr reddown%>
          <li>
            <a title="{reddr[title]}" href="<%linkurl("down_show",{reddr[id]})%>">
              <img src="{reddr[img_url]}" width="100" height="100" alt="{reddr[title]}" />
              <span>{reddr[title]}</span>
            </a>
          </li>
          <%/loop%>
        </ul>
        <div class="clear"></div>
      </div>
      <h3>下载排行</h3>
      <ul class="rank_list">
        <%set (DataTable){hotdown}=get_download_list(channel_id, 0, 10, "", "click desc,id desc")%>
        <%loop hotdr hotdown%>
        <%if hotdr__loop__id==1%>
        <li class="active">
        <%else%>
        <li>
        <%/if%>
          <span><%datetostr({hotdr[add_time]},MM-dd)%></span>
          <i class="num"><%write hotdr__loop__id%></i><a href="<%linkurl("down_show",{hotdr[id]})%>">{hotdr[title]}</a>
        </li>
        <%/loop%>
      </ul>
    </div>
    <!--/Sidebar-->
  </div>
</div>

<div class="clear"></div>

<!--Footer-->
<%template src=/_footer.html/%>
<!--/Footer-->
</body>
</html>
