<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>图片分享 - {config.webname}</title>
<link media="screen" type="text/css" href="{config.templateskin}/css/style.css" rel="stylesheet">
<script type="text/javascript" src="{config.webpath}scripts/jquery/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="{config.templateskin}/js/base.js"></script>
</head>

<body>
<!--Header-->
<%template src=/_header.html/%>
<!--/Header-->

<div class="boxwrap">
  <div class="left710">
   <!--Content-->
    <div class="main_box">
      <dl class="head green">
        <dt>图片分享</dt>
        <dd>
          <ul class="sub_nav">
            <%set (DataTable){category_list1}=get_category_child_list(channel_id, 0)%>
            <%loop cdr1 category_list1%>
            <li class="n<%write cdr1__loop__id%>"><a href="<%linkurl("photo_list",{cdr1[id]})%>">{cdr1[title]}</a></li>
            <%/loop%>
          </ul>
        </dd>
      </dl>
      <div class="clear"></div>
      <div class="photo_list">
        <ul>
          <%set (DataTable){photo_list}=get_news_list(channel_id, 0, 12, "is_red=1")%>
          <%loop listdr photo_list%>
          <li>
            <a class="img" href="<%linkurl("photo_show",{listdr[id]})%>" title="{listdr[title]}">
              <img src="{listdr[img_url]}" alt="{listdr[title]}" />
              <div class="info">
                <h4>{listdr[title]}</h4>
                <p>{listdr[zhaiyao]}</p>
              </div>
            </a>
          </li>
          <%/loop%>
          
        </ul>
      </div>
      
    </div>
    <!--/Content-->
  </div>
  
  <div class="left264">
    <!--Sidebar-->
    <div class="sidebar">
      <h3>资源类别</h3>
      <ul>
        <%set (DataTable){category_list}=get_category_list(channel_id, 0)%>
        <%loop cdr category_list%>
        <li><a title="{cdr[title]}" href="<%linkurl("photo_list",{cdr[id]})%>">{cdr[title]}</a></li>
        <%/loop%>
      </ul>
      <h3>推荐图片</h3>
      <div class="focus_list">
        <ul>
          <%set (DataTable){redphoto}=get_news_list(channel_id, 0, 6, "is_red=1 and img_url<>''")%>
          <%loop reddr redphoto%>
          <li>
            <a title="{reddr[title]}" href="<%linkurl("photo_show",{reddr[id]})%>">
              <img src="{reddr[img_url]}" width="100" height="100" alt="{reddr[title]}" />
              <span>{reddr[title]}</span>
            </a>
          </li>
          <%/loop%>
        </ul>
        <div class="clear"></div>
      </div>
      <h3>人气排行</h3>
      <ul class="rank_list">
        <%set (DataTable){hotphoto}=get_news_list(channel_id, 0, 10, "", "click desc,id desc")%>
         <%loop hotdr hotphoto%>
         <%if hotdr__loop__id==1%>
         <li class="active">
         <%else%>
         <li>
         <%/if%>
          <span><%datetostr({hotdr[add_time]},MM-dd)%></span>
          <i class="num"><%write hotdr__loop__id%></i><a href="<%linkurl("photo_show",{hotdr[id]})%>">{hotdr[title]}</a>
        </li>
        <%/loop%>
      </ul>
    </div>
    <!--/Sidebar-->
  </div>
</div>

<div class="clear"></div>

<!--Footer-->
<%template src=/_footer.html/%>
<!--/Footer-->
</body>
</html>
