<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>找回密码 - {config.webname}</title>
<meta content="{config.webkeyword}" name="keywords">
<meta content="{config.webdescription}" name="description">
<link rel="stylesheet" href="{config.webpath}css/validate.css" />
<link rel="stylesheet" href="{config.webpath}scripts/ui/skins/Aqua/css/ligerui-all.css" />
<link media="screen" type="text/css" href="{config.templateskin}/css/style.css" rel="stylesheet">
<script type="text/javascript" src="{config.webpath}scripts/jquery/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="{config.webpath}scripts/jquery/jquery.form.js"></script>
<script type="text/javascript" src="{config.webpath}scripts/jquery/jquery.validate.min.js"></script>
<script type="text/javascript" src="{config.webpath}scripts/jquery/messages_cn.js"></script>
<script type="text/javascript" src="{config.webpath}scripts/ui/js/ligerBuild.min.js"></script>
<script type="text/javascript" src="{config.templateskin}/js/base.js"></script>
</head>

<body>
<!--Header-->
<%template src=/_header.html/%>
<!--/Header-->

<div class="boxwrap">
  <div class="cart_box">
    <h1 class="main_tit">
      找回密码<strong>Reset Password</strong>
    </h1>
    <%if {action}=="confirm"%>
    <!--填写问题-->
    <script type="text/javascript">
      $(function(){
	    //初始化表单
		AjaxInitForm('pwd_form', 'btnSubmit', 1);
	  });
    </script>
    <form id="pwd_form" name="pwd_form" url="{config.webpath}tools/submit_ajax.ashx?action=user_getpassword">
    <div class="form_box">
      <dl>
        <dt>用户名：</dt>
        <dd><input type="text" name="txtUserName" id="txtUserName" class="input txt required" /></dd>
      </dl>
      <dl>
        <dt>验证码：</dt>
        <dd>
          <input id="txtCode" name="txtCode" class="input small required" type="text" maxlength="50" style="ime-mode:disabled;text-transform:uppercase;">
          <a id="verifyCode" href="javascript:;" onclick="ToggleCode(this, '{config.webpath}tools/verify_code.ashx');return false;"><img src="{config.webpath}tools/verify_code.ashx" width="80" height="22" align="absmiddle" /> 看不清楚？</a>
        </dd>
      </dl>
      <dl>
        <dt></dt>
        <dd><input id="btnSubmit" name="btnSubmit" type="submit" class="btn_submit" value="确认提交" /></dd>
      </dl>
    </div>
    </form>
    <!--/填写问题-->
    
    <%else if {action}=="reset"%>
    <!--重设密码-->
    <script type="text/javascript">
      $(function(){
	    //初始化表单
		AjaxInitForm('pwd_form', 'btnSubmit', 0, 'turl');
	  });
    </script>
    <form id="pwd_form" name="pwd_form" url="{config.webpath}tools/submit_ajax.ashx?action=user_repassword">
    <div class="form_box">
      <dl>
        <dt>用户名：</dt>
        <dd>{model.user_name}<input type="hidden" id="hideCode" name="hideCode" value="{model.str_code}" /></dd>
      </dl>
      <dl>
        <dt>重设新密码：</dt>
        <dd><input type="password" name="txtPassword" id="txtPassword" class="input txt required" minlength="6" maxlength="20" /></dd>
      </dl>
      <dl>
        <dt>确认新密码：</dt>
        <dd><input type="password" name="txtPassword1" id="txtPassword1" class="input txt required" equalTo="#txtPassword" minlength="6" maxlength="20" /></dd>
      </dl>
      <dl>
        <dt>验证码：</dt>
        <dd>
          <input id="txtCode" name="txtCode" class="input small required" type="text" maxlength="50" style="ime-mode:disabled;text-transform:uppercase;">
          <a id="verifyCode" href="javascript:;" onclick="ToggleCode(this, '{config.webpath}tools/verify_code.ashx');return false;"><img src="{config.webpath}tools/verify_code.ashx" width="80" height="22" align="absmiddle" /> 看不清楚？</a>
        </dd>
      </dl>
      <dl>
        <dt></dt>
        <dd><input id="btnSubmit" name="btnSubmit" type="submit" class="btn_submit" value="确认提交" /></dd>
      </dl>
    </div>
    <input id="turl" type="hidden" value="<%linkurl("repassword","succeed")%>" />
    </form>
    
    <!--/重设密码-->
    <%else if {action}=="succeed"%>
    <!--成功提示-->
    <div class="msg_tips">
      <div class="ico"></div>
      <div class="msg">
        <strong>登录密码重设成功啦！</strong>
        <p>恭喜您，您的密码重置成功！</p>
        <p>请记住新密码，您可以点击这里进入<a href="<%linkurl("login")%>">登录</a>会员中心。</p>
        <p>如有其它问题，请立即与我们客服人员联系。</p>
      </div>
    </div>
    <!--成功提示-->
    <%else if {action}=="error"%>
    <!--验证出错-->
    <div class="msg_tips">
      <div class="ico error"></div>
      <div class="msg">
        <strong>验证失败，验证字符串已被使用或已过期。</strong>
        <p>1、请确认邮件验证字符串的URL是否正确</p>
        <p>2、每次申请的验证字符串只能使用一次。</p>
        <p>3、每次申请的有效时间为24小时，过期请重新提交。</p>
      </div>
    </div>
    <!--验证出错-->
    <%/if%>
    <div class="clear"></div>
  </div>
</div>

<div class="clear"></div>

<!--Footer-->
<%template src=/_footer.html/%>
<!--/Footer-->
</body>
</html>
